.Container{
    height: 140px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
  
    @media (0 < width < 600px) {
      flex-direction: column;
      height: 120px;
    }
}
.search input{
    background-color: transparent;
    border: 1px solid red;
    color: white;
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    &::placeholder {
      color: white;
    }
}
.bttn{
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-bottom: 40px;
}
.bttFunctionality{
    background-color: #f22f2f;
    border-radius: 5px;
    padding: 6px 12px;
    border: none;
    color: white;
    cursor: pointer;
    &:hover {
        background-color: #863535;
    }
}